.boldText {
    font-weight: 800;
}

.root {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .card {
        width: 100%;
        min-height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding: 35px 40px;
        border-radius: 22px;
        border: 1px solid #6BD1C3;

        .content {
            max-height: 350px;
            display: flex;
            gap: 20px;

            .title {
                flex: 1 0 30%;
                font-size: 36px;
                font-weight: 500;
                line-height: 60px;
                color: #FFFFFF;
            }

            .description {
                flex: 1 0 70%;
                margin-top: 13px;
                padding-right: 15px;
                overflow-y: auto;
                font-size: 20px;
                color: #FFFFFF;
            }
        }

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 20px 15px 0;
            border-top: 1px solid #6BD1C3;

            .item {
                cursor: pointer;

                .icon.inactive path {
                    fill: #6BD1C3;
                }
            }
        }
    }

    @media screen and (max-width: $tablet) {
        gap: 15px;

        .card {
            padding: 20px;
            gap: 15px;

            .content {
                max-height: 400px;
                flex-direction: column;
                overflow-y: auto;

                .title {
                    flex: 0 0 auto;
                }

                .description {
                    margin-top: 0;
                    flex: 0 0 auto;
                }
            }

            .navigation {
                overflow-x: auto;
                padding: 10px 0 0;
                gap: 10px;
            }
        }
    }

    // @media screen and (max-width: $tablet) {
    //     .card {
    //         padding: 20px;
    //         gap: 15px;

    //         .content {
    //             .description {
    //                 padding-right: 5px;
    //             }
    //         }

    //         .navigation {
    //             padding: 10px 0;
    //             gap: 10px;
    //         }
    //     }
    // }
}