.root {
	overflow-x: clip;
	overflow-y: visible;

	.radialBg {
		display: none;
	}

	.layout {
		width: 100%;
		max-width: 1440px;
		min-height: 100vh;
		margin: 0 auto;
		padding: calc($header_h + $banner_h) 50px 50px;

		.content {
			flex: 1 1 auto;
		}
	}

	.footer {
		margin-left: auto;
	}

	@media screen and (max-width: $laptop) {
		.layout {
			padding: calc($header_h + $banner_h) 20px 200px;
		}

	}

	@media screen and (max-width: $tablet) {
		.layout {
			padding: calc($header_h + $banner_h) 20px 100px;
		}

		.footer {
			display: none;
		}
	}
}

