.root {
	overflow: hidden;

	.radialBg {
		position: relative;
		max-width: 1020px;
		margin: 0 auto;
		animation: waveBgAnimation 8s ease-in-out infinite;
		z-index: -2;

		&::after {
			content: '';
			position: absolute;
			top: -150px;
			left: -200px;
			width: 942px;
			height: 1119px;
			background: center / contain no-repeat url('/src/Components/PageLayout/assets/radialBg_1.svg');
			z-index: -1;
			mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
			-webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);

			@media screen and (max-width: $tablet) {
				display: none;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: -300px;
			right: -175px;
			width: 1181px;
			height: 1119px;
			background: center / contain no-repeat url('/src/Components/PageLayout/assets/radialBg_2.svg');
			z-index: -1;
			mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
			-webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
		}
	}

	.layout {
		max-width: 1440px;
		min-height: 100vh;
		margin: 0 auto;
		padding: $header_h 50px 300px;

		@media screen and (max-width: $laptop) {
			padding: $header_h 20px 200px;
		}

		.content {
			flex: 1 1 auto;
		}
	}

	.footer {
		margin-left: auto;
	}
}

@keyframes waveBgAnimation {
	0% {
		transform: translateX(0) scale(1) rotate(0deg);
	}

	25% {
		transform: translateX(5%) scale(1.05) rotate(2deg);
	}

	50% {
		transform: translateX(0) scale(1) rotate(0deg);
	}

	75% {
		transform: translateX(-5%) scale(1.05) rotate(-2deg);
	}

	100% {
		transform: translateX(0) scale(1) rotate(0deg);
	}
}