.root {
    .buttons {
        .button {
            width: 100%;
        }
    }

    .cards {
        .transactionSpeedCard {
            flex: 1;
        }

        .heroCodeCard {
            flex: 1;
            max-width: 50%;
        }
    }

    @media screen and (max-width: $laptop) {
        .buttons {
            flex-direction: column;
            align-items: center;

            .button {
                width: fit-content;
                min-width: 330px;
            }
        }

        .cards {
            flex-direction: column;

            .heroCodeCard {
                max-width: 100%;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        .buttons {
            .button {
                min-width: 100%;
                font-size: 20px;
            }
        }
    }
}