[build]
  command = "yarn build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  GIT_LFS_ENABLED = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false