.root {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px 80px;
  width: 100%;

  @media screen and (max-width: $mobile) {
    padding: 30px 16px 60px;
  }
}

.title {
  font-family: $font-secondary;
  font-size: 48px;
  font-weight: 400;
  color: #6BD1C3;
  margin: 0 0 32px;
  text-align: center;

  @media screen and (max-width: $mobile) {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
