.root {
	.leftSide {
		flex: 1 0 60%;
	}

	.video {
		flex: 1 1 auto;
		width: 100%;
		max-width: 40%;
	}

	@media screen and (max-width: $laptop) {
		.video {
			transform: translateY(-15%);
		}
	}

	@media screen and (max-width: $tablet) {
		flex-direction: column-reverse;

		.video {
			align-self: center;
			max-width: 100%;
			transform: translateY(0);
		}
	}
}