@import '../../shared/styles/vars';

.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 500px;
	padding: 60px 0;
	max-width: 1440px;
	margin: 0 auto;

	.content {
		flex: 1;
		max-width: 700px;

		.title {
			font-family: 'Funnel Display', $font-secondary;
			font-size: 85px;
			line-height: 105px;
			font-weight: 400;
			color: #6BD1C3;
			margin-bottom: 40px;
			text-align: left;

			span {
				display: block;
				white-space: nowrap;
			}

			.glitchText {
				display: inline-block;
				font-family: 'Funnel Display', $font-secondary;
				font-size: 85px;
				line-height: 105px;
				font-weight: 400;
				color: #FFFFFF;
				margin-right: 0.15em;
				white-space: nowrap;
				min-width: 280px;
				text-align: left;
			}
		}

		.announcement {
			position: relative;
			display: flex;
			align-items: center;
			gap: 16px;
			padding: 20px 0;
			font-size: 19px;
			line-height: 1.5;
			color: rgba(255, 255, 255, 0.9);
			margin-bottom: 40px;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				border-bottom: 1px dashed #EED58A;
			}

			.icon {
				font-size: 20px;
				color: #EED58A;
			}

			.date {
				font-weight: 600;
				color: #EED58A;
				white-space: nowrap;
			}

			.divider {
				color: rgba(255, 255, 255, 0.3);
			}

			.text {
				color: rgba(255, 255, 255, 0.9);

				.readMore {
					color: rgba(255, 255, 255, 0.9);
					text-decoration: none;
					transition: color 0.2s ease;

					&:hover {
						color: #6BD1C3;
					}
				}
			}
		}
	}

	.videoWrapper {
		flex-shrink: 0;
		width: 600px;
		height: 600px;
		position: relative;

		.video {
			width: 100%;
			height: 100%;
			object-fit: contain;
			background: transparent;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			transform: translateZ(0);
		}
	}

	@media screen and (max-width: 1200px) {
		.content {
			.title {
				font-size: 70px;
				line-height: 88px;

				.glitchText {
					font-size: 70px;
					line-height: 88px;
					min-width: 240px;
				}
			}
		}

		.videoWrapper {
			width: 500px;
			height: 500px;
		}
	}

	@media screen and (max-width: $laptop) {
		padding: 40px 0;

		.content {
			.title {
				font-size: 64px;
				line-height: 80px;

				.glitchText {
					font-size: 64px;
					line-height: 80px;
					min-width: 220px;
				}
			}

			.announcement {
				font-size: 17px;
			}
		}

		.videoWrapper {
			width: 450px;
			height: 450px;
		}
	}

	@media screen and (max-width: $tablet) {
		flex-direction: column;
		padding: 40px 0;

		.content {
			max-width: 100%;
			text-align: center;

			.title {
				font-size: 54px;
				line-height: 68px;
				text-align: center;
				margin-bottom: 30px;

				span {
					text-align: center;
				}

				.glitchText {
					font-size: 54px;
					line-height: 68px;
					min-width: 180px;
				}
			}

			.announcement {
				justify-content: center;
				font-size: 16px;
				margin-bottom: 30px;
			}
		}

		.videoWrapper {
			width: 350px;
			height: 350px;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 426px) {
		padding: 30px 0;
		min-height: auto;

		.content {
			.title {
				font-size: 38px;
				line-height: 48px;
				margin-bottom: 24px;

				span {
					white-space: normal;
				}

				.glitchText {
					font-size: 38px;
					line-height: 48px;
					min-width: auto;
				}
			}

			.announcement {
				flex-wrap: wrap;
				padding: 16px 0;
				gap: 8px;
				font-size: 14px;
				margin-bottom: 24px;

				&::after {
					background-size: 60px 1px;
				}

				.icon {
					font-size: 16px;
				}
			}
		}

		.videoWrapper {
			width: 280px;
			height: 280px;
		}
	}
}