.root {
	position: relative;

	.content {
		position: relative;
		width: 60%;
		padding-top: 120px;
		z-index: 2;

		.title {
			position: absolute;
			top: 120px;
			left: 0;
			font-size: 100px;
			line-height: 120px;
			font-weight: 600;
			color: #6BD1C3;

			.glitchText {
				display: inline;
				font-size: 100px;
				line-height: 120px;
				font-weight: 600;
				color: #FFFFFF;
			}
		}

		.note {
			margin-top: 650px;
			min-height: 278px;
			padding: 30px;
			border-radius: 22px;
			background: linear-gradient(to top right, #E1FFFD 0%, #4BABAB 48%, #EFFC66 100%);

			.date,
			.noteTitle {
				font-size: 32px;
				font-weight: 800;
				line-height: 40px;
			}

			.date {
				margin-bottom: 9px;
				color: #EED58A;
			}

			.noteTitle {
				margin-bottom: 9px;
				color: #FFFFFF;
			}

			.description {
				font-size: 20px;
				font-weight: 700;
				line-height: 30px;
				color: #FFFFFF;
			}
		}
	}

	.video {
		position: absolute;
		right: 0;
		top: 0;
		width: 60%;
		aspect-ratio: 1/1;
		z-index: 1;
	}

	@media screen and (max-width: $tablet) {
		.content {
			width: 100%;

			.title {
				top: 300px;
				font-size: 56px;
				line-height: 68px;

				.glitchText {
					font-size: 56px;
					line-height: 68px;
				}
			}

			.note {
				margin-top: 550px;
			}
		}
	}

	@media screen and (max-width: $mobile) {
		.content {
			.title {
				font-size: 40px;
				line-height: 48px;

				.glitchText {
					font-size: 40px;
					line-height: 48px;
				}
			}

			.note {
				margin-top: 450px;
				min-height: 0;
				padding: 20px;

				.date,
				.noteTitle {
					font-size: 24px;
					line-height: 32px;
				}

				.description {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}

		.video {
			width: 100%;
		}
	}
}