.root {
	.content {
		padding-top: 120px;

		.leftSide {
			flex: 1 0 55%;

			.title {
				font-family: $font-secondary;
				font-size: 78px;
				line-height: 86px;
				font-weight: 400;
				color: #6BD1C3;
			}

			.description {
				margin-left: 3px;
				font-family: $font-secondary;
				font-size: 20px;
				line-height: 40px;

				.link {
					position: relative;
					margin-left: 30px;
					font-family: $font;
					font-weight: 700;
					color: #6BD1C3;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: -6px;
						width: 0;
						height: 2px;
						background-color: #6BD1C3;
						transition: width 0.3s ease;
					}

					@include hover {
						&::after {
							width: 100%;
						}
					}
				}
			}
		}


		.images {
			position: relative;
			flex: 0 1 45%;
			width: 100%;

			.image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: 40% 100% / contain no-repeat url('/src/Components/Ecosystem/assets/caravel.png');
				transform: scale(2);
				z-index: -1;
			}

			.bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: center / contain no-repeat url('/src/Components/Ecosystem/assets/ocean.png');
				transform: scale(4);
				z-index: -2;
			}
		}
	}

	@media screen and (max-width: $laptop) {
		.content {
			margin-bottom: 40px;
			flex-direction: column-reverse;

			.leftSide {
				flex: 0 0 auto;
			}

			.images {
				flex: 0 0 auto;
				height: 300px;

				.image {
					transform: scale(1.5);
				}

				.bg {
					transform: scale(2);
				}
			}
		}
	}

	@media screen and (max-width: $tablet) {
		.content {
			margin-top: -80px;
			margin-bottom: 43px;

			.images {
				.image {
					transform: scale(1);
				}
			}
		}
	}

	@media screen and (max-width: $mobile) {
		.content {
			.title {
				font-size: 56px;
				line-height: 68px;
			}
		}
	}
}