.root {
	.content {
		padding-top: 100px;
		margin-bottom: 130px;

		.leftSide {
			flex: 1 0 45%;

			.title {
				font-family: $font-secondary;
				font-size: 78px;
				line-height: 86px;
				font-weight: 400;
				color: #6BD1C3;
			}

			.description {
				margin-left: 3px;
				font-family: $font-secondary;
				font-size: 20px;
				line-height: 40px;
			}
		}


		.images {
			position: relative;
			flex: 0 1 55%;
			width: 100%;

			.image {
				position: absolute;
				top: 100px;
				right: -150px;
				width: 100%;
				height: 100%;
				background: 40% 100% / contain no-repeat url('/src/Components/Ecosystem/assets/caravel.png');
				transform: scale(2.5);
				z-index: -1;
			}

			.bg {
				position: absolute;
				top: 100px;
				left: 0;
				width: 100%;
				height: 100%;
				background: center / contain no-repeat url('/src/Components/Ecosystem/assets/ocean.png');
				transform: scale(5);
				z-index: -2;
			}
		}
	}

	@media screen and (max-width: $laptop) {
		.content {
			margin-bottom: 40px;
			flex-direction: column-reverse;

			.leftSide {
				flex: 0 0 auto;
			}

			.images {
				flex: 0 0 auto;
				height: 300px;

				.image {
					transform: scale(1.5);
				}

				.bg {
					transform: scale(2);
				}
			}
		}
	}

	@media screen and (max-width: $tablet) {
		.content {
			margin-top: -80px;
			margin-bottom: 43px;

			.images {
				.image {
					transform: scale(1);
				}
			}
		}
	}

	@media screen and (max-width: $mobile) {
		.content {
			.title {
				font-size: 56px;
				line-height: 68px;
			}

			.images {
				.image {
					top: 0px;
					right: -50px;
				}
			}
		}
	}
}