.root {
	.content {
		width: 100%;
		height: 100%;
		padding: 25px 18px 10px;
		border-radius: 22px;
		border: 1px solid #6BD1C3;
		background: #000000;

		.title {
			flex: 1 0 auto;
			font-size: 24px;
			font-weight: 400;
			line-height: 35px;
			color: #6BD1C3;
			text-align: center;
		}

		.link {
			position: relative;
			width: fit-content;
			margin-left: auto;
			font-size: 14px;
			font-weight: 700;
			line-height: 28px;
			color: #FFFFFF;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color: #FFFFFF;
				transition: width 0.3s ease;
			}

			@include hover {
				cursor: pointer;

				&::after {
					width: 100%;
				}
			}
		}
	}

	@media screen and (max-width: $tablet) {
		.title {
			font-size: 16px;
			line-height: 24px;
		}
	}
}