.root {
	position: relative;
	max-width: 1200px;
	margin: 100px auto 0;

	.title {
		font-family: $font-secondary;
		margin-bottom: 100px;
		font-size: 78px;
		line-height: 86px;
		font-weight: 400;
		color: #6BD1C3;
	}

	.content {
		gap: 30px 40px;

		.card {
			flex: 0 1 47%;
			width: 100%;

			@media screen and (max-width: $laptop) {
				flex-grow: 1;
			}
		}
	}

	.shipBg {
		position: absolute;
		top: 150px;
		right: -100px;
		width: 289px;
		height: 279px;
		background: top / contain no-repeat url('/src/Components/Team/assets/shipBg.png');
		z-index: -1;
	}
}