.root {
	position: relative;
	margin-top: 63px;

	.title {
		margin-bottom: 67px;
		font-size: 44px;
		line-height: 48px;
		font-weight: 400;
	}

	.content {
		gap: 30px 40px;

		.card {
			flex: 0 1 47%;
			width: 100%;

			@media screen and (max-width: $mobile) {
				flex-grow: 1;
			}
		}
	}

	.shipBg {
		position: absolute;
		top: 150px;
		right: -100px;
		width: 289px;
		height: 279px;
		background: top / contain no-repeat url('/src/Components/Team/assets/shipBg.png');
		z-index: -1;
	}
}