.root {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	text-transform: uppercase;
	color: #6BD1C3;

	.separator {
		width: 1px;
		height: 14px;
		background-color: #6BD1C3;

		@media screen and (max-width: $mobile) {
			display: none;
		}
	}
}