.root {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	color: #FFFFFF;

	.route {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: -1px;
			width: 0;
			height: 2px;
			background-color: #FFFFFF;
			transition: width 0.3s ease, left 0.3s ease;
		}

		@include hover {
			&::after {
				width: 100%;
				left: 0;
			}
		}
	}

	.separator {
		width: 1px;
		height: 14px;
		background-color: #FFFFFF;

		@media screen and (max-width: $laptop) {
			display: none;
		}
	}

	&.secondary {
		color: #878787;

		.route {
			&::after {
				background-color: #878787;
			}
		}

		.separator {
			background-color: #878787;
		}
	}
}