.root {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 90px 40px;

	.boldTitle {
		font-weight: 800;
	}

	.card {
		opacity: 0;
		transform: translateY(80%);
	}

	@media screen and (max-width: $laptop) {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 20px;
	}

	@media screen and (max-width: $tablet) {
		grid-template-columns: 1fr;
	}
}