*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

html {
	height: auto;
	overflow: hidden;
	font-weight: 400;
	font-family: $font;
	font-kerning: none;
}

#root {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #FFFFFF;
	background-color: #000000;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
	-webkit-text-fill-color: currentColor !important;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}