.root {
	.title {
		font-family: $font-secondary;
		font-size: 78px;
		line-height: 86px;
		font-weight: 400;
		color: #6BD1C3;

		@media screen and (max-width: $mobile) {
			font-size: 56px;
			line-height: 68px;
		}
	}

	.subtitle {
		margin-left: 3px;
		font-family: $font-secondary;
		font-size: 26px;
		line-height: 40px;
		font-weight: 400;
		color: #6BD1C3;
	}

	.description {
		font-size: 18px;
		line-height: 36px;
		color: #C7C7C7;
	}

	.button {
		margin-left: 6px;
		padding: 10px 32px;
		width: fit-content;
		border-radius: 2px;
		font-size: 21px;
		font-weight: 500;
		color: #000000;
		background: linear-gradient(to top, #885E1F 0%, #DBB869 35%, #F9E59D 71%, #FCEAAD 100%);

		@include hover {
			box-shadow: 0 0 12px 0 #00000040;
		}

		@media screen and (max-width: $laptop) {
			margin-left: 0;
			width: 100%;
		}
	}
}