.root {
	max-width: 528px;

	.title {
		font-size: 44px;
		line-height: 48px;
		font-weight: 400;
	}

	.subtitle {
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
	}

	.button {
		margin-left: 6px;
		padding: 10px 32px;
		width: fit-content;
		border-radius: 2px;
		font-size: 21px;
		font-weight: 500;
		color: #000000;
		background: linear-gradient(to top, #885E1F 0%, #DBB869 35%, #F9E59D 71%, #FCEAAD 100%);

		@include hover {
			box-shadow: 0 0 12px 0 #00000040;
		}

		@media screen and (max-width: $mobile) {
			width: 100%;
		}
	}
}