.root {
	height: 100%;
	padding: 10px 24px 15px 19px;
	border-radius: 22px;
	border: 2px solid #6BD1C3;
	background: transparent;
	box-shadow: 0px 0px 0px 0px #6bd1c359;
	transition: box-shadow 0.3s ease-in-out;

	&.isClickable {
		cursor: pointer;

		@include hover {
			box-shadow: 0px 0px 10px 5px #6bd1c359;
		}
	}

	.photo {
		flex: 0 0 auto;
		margin-top: 7px;
		width: 84px;
		height: 84px;

		@media screen and (max-width: 426px) {
			width: 60px;
			height: 60px;
		}
	}

	.name {
		font-size: 20px;
		font-weight: 400;
		color: #FFFFFF;

		>span:first-of-type {
			font-weight: 700;
		}
	}

	.description {
		flex: 1 0 auto;
		font-size: 14px;
		font-weight: 400;

		.role {
			margin-bottom: 8px;
			font-weight: 700;
		}
	}

	.link {
		width: fit-content;

		svg rect {
			fill: #6BD1C3;
		}
	}
}