@import '../../shared/styles/vars';

.root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 27px 0 10px;
	background-color: rgba(16, 16, 16, 0.05);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);

	.content {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0 50px;

		.separator {
			width: 2px;
			height: 34px;
			background-color: #6BD1C3;

			@media screen and (max-width: $laptop) {
				display: none;
			}
		}
	}

	@media screen and (max-width: $laptop) {
		.content {
			padding: 0 30px;
		}
	}

	@media screen and (max-width: $tablet) {
		.content {
			padding: 0 20px;
		}
	}
}

@media screen and (max-width: $tablet) {

	.hamburger,
	.hamburger::before,
	.hamburger::after {
		z-index: 1;
		height: 2px;
		background-color: #FFFFFF;
		border-radius: 2px;
		transition: transform 0.3s ease-in-out;
	}

	.hamburger {
		position: relative;
		width: 24px;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			top: -8px;
		}

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			top: 8px;
		}

		&.isActive {
			transform: rotate(45deg);

			&::before {
				opacity: 0;
			}

			&::after {
				transform: rotate(90deg) translateX(-8px);
			}
		}
	}

	.navigation {
		position: fixed;
		top: -100vh;
		left: 0;
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100vw;
		height: 100vh;
		padding: calc($header_h + 25px) 25px 25px;
		background-color: rgba(16, 16, 16, 0.9);
		transition: transform 0.3s ease-in-out;

		&.isVisible {
			transform: translateY(100vh);
		}
	}

	.socials {
		position: fixed;
		top: -100vh;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 20px;
		border-radius: 12px;
		background-color: rgba(107, 202, 209, 0.552);
		transition: transform 0.3s ease-in-out;

		&.isVisible {
			transform: translate(-50%, calc(200dvh - 54px - 30px));
		}
	}
}