.root {
	min-height: 240px;
	padding: 16px 25px 25px;
	border-radius: 22px;
	border: 2px solid #6BD1C3;
	background: transparent;
	box-shadow: 0px 0px 0px 0px #6bd1c359;
	transform: translateY(0);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

	&.isClickable {
		cursor: pointer;
	}

	@include hover {
		transform: translateY(-10px);
		box-shadow: 0px 0px 10px 5px #6bd1c359;
	}

	.header {
		.logo {
			width: 60px;
			aspect-ratio: 1/1;
			overflow: visible;
		}

		.type {
			font-family: $font-secondary;
			font-size: 14px;
			font-weight: 700;
			color: #11A994;
		}
	}

	.name {
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 700;
		color: #FFFFFF;
	}

	.description {
		font-family: $font;
		font-size: 14px;
		font-weight: 500;
		color: #FFFFFF;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.link {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		width: fit-content;
		font-family: $font;
		font-weight: 700;
		color: #6BD1C3;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 0;
			height: 2px;
			background-color: #6BD1C3;
			transition: width 0.3s ease;
		}

		@include hover {
			&::after {
				width: 100%;
			}
		}
	}
}