.root {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        position: relative;
        width: 80%;
        height: 70%;

        .rectangle {
            position: absolute;
            left: 0;
            width: 100%;
            height: 50%;
            opacity: 1;

            &:nth-child(1) {
                bottom: 0;
                background: center / cover no-repeat url('/src/shared/ui/StackIcon/assets/rectangle_1.svg');
                z-index: 1;
            }

            &:nth-child(2) {
                bottom: 15%;
                background: center / cover no-repeat url('/src/shared/ui/StackIcon/assets/rectangle_2.svg');
                z-index: 2;
            }

            &:nth-child(3) {
                bottom: 30%;
                background: center / cover no-repeat url('/src/shared/ui/StackIcon/assets/rectangle_3.svg');
                z-index: 3;
            }

            &:nth-child(4) {
                bottom: 45%;
                background: center / cover no-repeat url('/src/shared/ui/StackIcon/assets/rectangle_4.svg');
                z-index: 4;
            }
        }
    }
}