.root {
    width: 100%;
    padding: 35px;
    border-radius: 22px;
    border: 1px solid #979797;
    background: #000000;

    .title {
        margin-bottom: 13px;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        color: #FFFFFF;
    }

    .code {
        margin-bottom: 8px;
        color: #6BD1C3;
        font-family: monospace;
        overflow-x: hidden;
        white-space: pre;
        user-select: none;
    }

    .caption {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: #FFFFFF;
    }

    .button {
        min-width: 170px;
        margin-left: auto;
    }

    @media screen and (max-width: $mobile) {
        .title {
            font-size: 32px;
            line-height: 36px;
        }

        .code {
            margin-bottom: 30px;
        }

        .button {
            min-width: 100%;
        }
    }
}