.root {
    position: relative;
    width: calc(100% - 100px); // Move more to the left
    max-width: 1340px; // 1440px - 100px
    margin-left: auto; // Push to right
    padding: 80px 80px 45px 147px; // Increased left padding for content alignment
    background-color: #262626;

    // Cut corner design with 45 degree angle
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 60px; // Equal width and height for 45 degree angle
        height: 60px;
        background: #000000;
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    .navigation,
    .copyright {
        font-size: 18px;
        font-weight: 400;
        color: #DDDDDD;

        .title {
            font-size: 20px;
            font-weight: 800;
            color: #6BD1C3;
        }

        .link {
            position: relative;
            width: fit-content;
            font-size: 18px;
            font-weight: 400;
            color: #6BD1C3;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: #6BD1C3;
                transition: width 0.3s ease;
            }

            @include hover {
                cursor: pointer;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .navigation {
        margin-bottom: 45px;
    }

    .copyright {
        display: flex;
        align-items: center;
        gap: 12px;

        .links {
            display: flex;
            align-items: center;
            gap: 12px;

            .copyrightLink {
                color: #6BD1C3;
                text-decoration: none;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background-color: #6BD1C3;
                    transition: width 0.3s ease;
                }

                @include hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            .separator {
                color: #999999;
            }
        }

        .copyrightText {
            color: #999999;
            margin-left: 4px;
        }
    }

    @media screen and (max-width: $laptop) {
        width: calc(100% - 60px);
        padding: 80px 60px 45px 120px;
    }

    @media screen and (max-width: $tablet) {
        width: calc(100% - 40px);
        padding: 60px 40px 40px 90px;

        .navigation {
            flex-direction: column;
        }

        &::before {
            width: 45px;
            height: 45px;
        }

        .copyright {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    @media screen and (max-width: $mobile) {
        padding: 40px 30px 30px 70px;

        &::before {
            width: 35px;
            height: 35px;
        }

        .copyright {
            .links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                .separator {
                    display: none;
                }
            }
        }
    }
}