.root {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 50px 45px;
    background-color: #262626;


    .navigation,
    .copyright {
        font-size: 18px;
        font-weight: 400;
        color: #DDDDDD;

        .title {
            font-size: 20px;
            font-weight: 800;
            color: #6BD1C3;
        }

        .link {
            position: relative;
            width: fit-content;
            font-size: 18px;
            font-weight: 400;
            color: #6BD1C3;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: #6BD1C3;
                transition: width 0.3s ease;
            }

            @include hover {
                cursor: pointer;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .navigation {
        margin-bottom: 45px;
    }

    .copyright {
        display: flex;
        align-items: center;
        gap: 12px;

        .copyrightLink {
            color: #6BD1C3;
            text-decoration: none;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: #6BD1C3;
                transition: width 0.3s ease;
            }

            @include hover {
                &::after {
                    width: 100%;
                }
            }
        }

        .separator {
            color: #999999;
        }

        .copyrightText {
            color: #999999;
            margin-left: 4px;
        }
    }

    @media screen and (max-width: $laptop) {
        padding: 80px 30px 45px;
    }

    @media screen and (max-width: $tablet) {
        padding: 60px 20px 40px;

        .navigation {
            flex-direction: column;
        }
    }

    @media screen and (max-width: $mobile) {
        padding: 40px 20px 30px;
    }
}