.root {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px 40px;

	@media screen and (max-width: $laptop) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: $tablet) {
		grid-template-columns: 1fr;
	}
}