.root {
    
}

h1 {
    font-size: 2em;
    color: #fff;
    margin: 1em 0;
}

.box {
    .name {
        color: #CB9D4B;
        font-size: 1.5em;
    }
    .text {
        padding: 1.5em 0;
    }

    .photo {
        width: 100px;
        height: 100px;
        margin: 1em;
    }
    
    display: flex;
    font-size: 1.2em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    width: calc(50% - 1em); /* Adjust width to fit two boxes in a row with margin */
    box-sizing: border-box;
    border: 1px solid #CB9D4B;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

