@font-face {
	font-family: 'Manrope';
	src: url('./files/Manrope-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
	src: url('./files/Manrope-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
	src: url('./files/Manrope-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'NeuePowerTrial';
	src: url('./files/NeuePowerTrial-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NeuePowerTrial';
	src: url('./files/NeuePowerTrial-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}