@font-face {
	font-family: 'Manrope';
	src: local('Manrope'),
		url('./files/Manrope-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
	src: local('Manrope'),
		url('./files/Manrope-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}