.root {

	position: relative;
	margin-top: 60px;

  .title {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 48px;
    font-weight: 400;
}

.content {
    font-size: 1.4em;
    div, ol li {
        padding-bottom: 33px;
    }
}

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15%, -15%);
    width: 70%;
    height: 70%;
    filter: blur(50px);
    background: top / cover no-repeat url('/src/Components/Hero/assets/radialBg_1.svg');
    z-index: -1;

    @media screen and (max-width: $mobile) {
        height: 40%;
        transform: translate(80%, 10%);
    }
}

&::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -30%);
    width: 70%;
    height: 70%;
    filter: blur(50px);
    background: top / cover no-repeat url('/src/Components/Hero/assets/radialBg_2.svg');
    z-index: -1;

    @media screen and (max-width: $mobile) {
        display: none;
    }
}
}


