@import '../../shared/styles/vars';

.root {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .boldTitle {
        font-family: $font-secondary;
        font-weight: 700;
    }

    .card {
        opacity: 1;
        transform: none;
    }

    @media screen and (max-width: $laptop) {
        gap: 40px 20px;
    }

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
    }
}