@import '../../shared/styles/vars';

.root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 60px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;

    .boldTitle {
        font-family: $font-secondary;
        font-weight: 700;
    }

    .card {
        opacity: 1;
        transform: none;
        min-width: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 1199px) and (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media screen and (max-width: 599px) {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
    }

    @media screen and (max-width: 402px) {
        gap: 16px;
    }
}
